    
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .card {
        position: relative;
        width: 600px;
        height: 350px;
        display: flex;
        align-items: center;
        transition: 0.4s;
    }

    .card .hidden {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
    }

    .card .hidden::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #f5f8f6;
        clip-path: circle(120px at center);
        transition: 0.4s;
    }

    .card:hover .hidden:before, .card .hidden.hovered::before {
        background: #00C86E;
        clip-path: circle(400px at center);
    }

    .card img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 320px;
        pointer-events: none;
        transition: 0.4s;
    }

    .card:hover img, .card img.hovered {
        left: 72%;
        height: 520px;
    }

    .card .content {
        position: relative;
        width: 50%;
        left: 20%;
        padding: 20px 20px 20px 40px;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }

    .card:hover .content, .card .content.hovered {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .recycling {
        margin-right: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card .content .secUpload {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card .content h2 {
        color: white;
        text-transform: uppercase;
        font-size: 2em;
        line-height: 1em;
        margin-bottom: 20px;
    }

    .card .content p {
        margin-top: 10px; 
        color: white;
    }

    .card .content .upload {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .card .content button, a {
        position: relative;
        padding: 10px 20px;
        border-radius: 10px;
        background: white;
        color: black;
        margin-top: 10px;
        display: inline-block;
        text-decoration: none;
        font-weight: 700;
        border: none;
        cursor: pointer;
    }

    .card .content .result {
        display: none;
    }

    .card .content .result.show {
        display: block;
    }

    .bi-question-circle {
        position: absolute;
        bottom: 660px;
        right: 60px;
        opacity: 0.4;
        cursor: pointer;
        transition: all 0.4s;
    }

    .bi-question-circle:hover {
        opacity: 1;
    }

    .bi-arrow-left-circle {
        position: absolute;
        right: 514px;
        opacity: 0.6;
        animation: moveLeftAndBack 1s infinite;
    }

    .bi-arrow-right-circle {
        position: absolute;
        left: 500px; 
        opacity: 0.6;
        animation: moveLightAndBack 1s infinite;
    }

    /* #info {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 600px;
        height: 60vh;
        border-radius: 20px;
        overflow: hidden;
        padding: 100px;
        cursor: pointer;
        z-index: 1;
    }
    
    #info::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        clip-path: circle(0px at center);
    }

    #info.info::before {
        background: #00C86E;
        clip-path: circle(400px at center);
        transition: all 0.8s;    
    }

    #infoExplain {
        opacity: 0;
    }

    .container #infoExplain.infoExplain {
        color: white;
        font-size: 50px;
        opacity: 1;
        z-index: 1;
    } */

    .uploadFile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .upload .uploadFile input[type="file"] {
        position: absolute;
        z-index: 1;
        width: 114px;
        height: 52px;
        overflow: hidden;
        border: 0;
        opacity: 0;
        margin-top: 10px;
        font-size: 0;
        cursor: pointer;
    }

    .container {
        opacity: 0;
        animation: fadeIn 0.8s ease-in-out 0.2s forwards;
    }
    
    @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    }

    @keyframes moveLeftAndBack {
        0%, 100% {
          transform: translateX(0);
        }
        
        50% {
          transform: translateX(-10px);
        }
    }

    @keyframes moveLightAndBack {
        0%, 100% {
          transform: translateX(0);
        }
        
        50% {
          transform: translateX(10px);
        }
    }
      

    @media(max-width: 990px) {

        .container .bi-arrow-left-circle {
            opacity: 0;
        }
    
        .container .bi-arrow-right-circle {
            opacity: 0;
        }

    }
