
  :root {
    --primary: #90d2a7;
  }

  *::before,
  *::after {
    box-sizing: border-box;
  }

  .input {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  .group {
    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: center;
  }

  .radioGrop {
    display: flex;
    align-items: center;
    place-content: center;
    margin: 40px;
  }

  .radio1 {
    margin-left: 30px;
  }

  .radio1, .radio2 {
    display: flex;
    flex-direction: column;
    width: 220px;
  }

  .label {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 1rem 1rem 1rem 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.25s cubic-bezier(0.25, 0.25, 0.5, 1.9);
    margin: 10px 40px 10px 40px;
    box-sizing: border-box;
  }

  .label::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5rem;
    height: 1.5rem;
    background: transparent;
    border: 2px solid;
    border-radius: 0.25rem;
    z-index: -1;
    transition: all 0.25s cubic-bezier(0.25, 0.25, 0.5, 1.9);
    border-radius: 2rem;
  }

  .input[type="radio"] + .label {
    border-radius: 2rem;
  }

  .input:checked + .label {
    color: white;
    font-weight: 600;
  }

  .input:checked + .label.one {
    width: 82px;
    color: white;
  }

  .input:checked + .label.two {
    width: 96px;
    color: white;
  }

  .input:checked + .label.three {
    width: 112px;
  }

  .input:checked + .label.four {
    width: 128px;
  }

.input:checked + .label::before {
  width: 100%;
  height: 100%;
  background: var(--primary);
  border: 0;
}

.change {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background: #90d2a7;
  color: white;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
